$header-color:#20202D;
$theme-color: #80B82D;
$white: #fff;
$grey-color: #ededed;




// media Quries
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$mini-laptop-device: "only screen and (min-width: 1200px) and (max-width: 1300px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width:1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile2: "only screen and (max-width: 575px)";