$theme-color: #80B82D;
$secondary-color: #80B82D;

$white: #ffffff;
$black: #000000;
$grey-color: #ededed;
$dark-brown: #33362f;

$header-color:#20202D;
$fonts_color: #222222;



// media Quries
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$mini-laptop-device: "only screen and (min-width: 1200px) and (max-width: 1300px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width:1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile2: "only screen and (max-width: 575px)";