/*----------------------------------------*/
/*  01. Icon fonts CSS
/*----------------------------------------*/
@font-face {
    font-family: "Ionicons";
    src: url(../../fonts/ionicons28b5.ttf);
  }
@font-face {
    font-family: 'Linearicons-Free';
    src: url(../../fonts/Linearicons-Free54e9.ttf);
  }

/*----------------------------------------*/
/*  02. Theme default CSS
/*----------------------------------------*/

/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
}
h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 36px;
}
h3 {
    font-size: 30px;
    line-height: 30px;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button, input[type="submit"] {
    cursor: pointer;
}
img {max-width:100%;height:auto}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
figure{
    padding: 0;
    margin: 0;
}
/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.hidden {
    display: none;
}
.clear{
    clear: both;
}

/*-- 
    Scroll Up 
-----------------------------------------*/

#scrollUp {
	background: $theme-color none repeat scroll 0 0;
	bottom: 85px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	font-size: 20px;
	height: 45px;
	line-height: 39px;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 45px;
	z-index: 9999;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-transition: .3s;
	transition: .3s;
     &:hover i {
        animation-name: fadeInUp;
        animation-duration:1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
}

/*-- 
    - Margin
-----------------------------------------*/

.mt-23{
    margin-top:23px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mt-55{
    margin-top: 55px;
}
.mt-57{
    margin-top: 57px;
}
.mt-60{
    margin-top: 60px;
}
.mt-70{
    margin-top: 70px;
}
.mt-100{
    margin-top: 100px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-58{
    margin-bottom: 58px;
}
.mb-46{
    margin-bottom: 46px;
}
.mb-47{
    margin-bottom: 47px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-62{
    margin-bottom: 62px;
}
.mb-64{
    margin-bottom: 64px;
}
.mb-65{
    margin-bottom: 65px;
}
.mb-66{
    margin-bottom: 66px;
}
.mb-68{
    margin-bottom: 68px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-80{
    margin-bottom:80px;
}
.mb-90{
    margin-bottom: 90px;
}
.mb-92{
   margin-bottom: 92px; 
}
.mb-95{
   margin-bottom: 95px; 
}
.mb-100{
    margin-bottom: 100px;
}
.heading-wrapper{
    background-color: $grey-color;
}
.sick-fixed {
    position: fixed !important;
    top: 0;
    right: 0;
  }
  
  .sick-abs {
    position: absolute;
    top: 0;
    right: 0;
  }
  select,
  input {
    border: 1px solid #ededed;
    background: none;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    color: #222222;
    border-radius: 5px;
}
.l-signup a {
    color: #80b82d;
    text-decoration: underline;
}

.bg-product{
    position: relative;
}
.bg-product:before{
    content: "";
    background-image: url(./../images/veg-cat.png);
    background-position: left;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: red; */
    background-repeat: no-repeat;
}
.bg-product:after{
    content: "";
    background: linear-gradient(-270deg, white 0%, rgba(255, 44, 62, 0.25) 50%);
    background-position: left;
    background-size: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
}