.backgroung-img {
    background-image: url(./../images/bg-header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    @media #{$large-mobile}{
        background-image: linear-gradient(282deg, rgba(174,213,121,0), rgba(99,144,56,0.8)),url(./../images/bg-header.jpg);
        }
}
.container-banner__family {
    width: 30%;
}
.banner-wrapper {
    position: relative;
}
.banner-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    background: rgba(116,171,78,0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    @media #{$large-mobile}{
        position: static;
        }
}
.banner-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $white;
}
.circle-white {
    background: $white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    text-align: center;
    margin: auto;
}
.read-more {
    background: $white;
}

.solution-desp {
    h3 {
        font-weight: 500;
        font-size: 23px;
    }
     h5 {
        font-weight: 500;
    }
}

h5.static-heading {
    font-size: 20px;
    font-weight: 700;
}


.banner-inner {
    min-height: 80vh;
    display: flex;
    align-items: center;
    @media #{$large-mobile}{
        min-height: unset;
        }
}

.banner-inner:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(black, 0.26);
    pointer-events: none;
    z-index: 0;
}

.banner-inner > * {
    position: relative;
    z-index: 1;
}
.typing-effect p span.typed-text {
    color: #c7f584;
    margin-left: 10px;
}

#output {
    height: 130px;
    display:flex;
    flex-direction: column;
    h1{
        text-align: left;
        font-size: 70px;
        word-spacing: -5px;
        margin: 0px;
        color:#fff;
        margin-bottom:7px;
    }
    p{
        text-align: left;
        font-size: 33px;
        margin-top: -5px;
        color:#fff;
    }
}
