.dark-bg{
    background-color: $header-color;
}
.top-header, .main-header{
    .container{
        @media (min-width: 1200px){
            max-width: 1180px;
        }
    }
}
.main-header{
    padding-top: 10px;
    padding-bottom: 10px;
    @media #{$large-mobile}{
        padding: 10px 30px;
        }
}
.logo-wrapper{
    width: 200px;
    padding-right: 20px;
}
.search-wrapper{
    width: 600px;
    max-width: 100%;
}
.top-header {
    p{
        margin-bottom: 0;
        padding: 5px;
    }    
}
.login-wrapper{
    display: flex;
    @media #{$large-mobile}{
        margin: 20px 0px;
    }
    .login{
        display: flex;
        width: 75px;
        align-items: center;
        margin-right: 3px;
        > i{
            margin-right: 10px;    
        }
    }
}
.menus a{
    color: #ffffff;
    &:hover{
        color: $theme-color;
    }
}
.search-wrapper{
    display:flex;
    .search-fields{
        display: flex;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        overflow: hidden;
        & > div{
            display: flex;
            background-color: $white;
            &:not(:last-child){
                &:after{
                    content: "";
                    display: block;
                    height: calc(100% - 16px);
                    margin-top: 8px;
                    width: 1px;
                    background-color: rgba($black, .1);
                }
            }
        }
        input[type="text"], select{
            border: none;
            padding: 10px 15px;
            padding-left: 15px;
        }
        select{
            appearance: none;
            padding-right: 30px;
            background-image: url(../../images/icons/down-arrow.svg);
            background-size: 15px;
            background-position: center right 15px;
            background-repeat: no-repeat;
        }
    }
}

.login {
    width: calc(100% - 80px);
    border-radius: 30px 0 0 30px;
    background: $theme-color;
    color: $white;
    padding: 11px;
    border: none;
}
.logo-wrapper {
    @media #{$large-mobile}{
        margin: auto;
        width: 380px;
    }
}

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #80b82d;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}


// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 10px;
        // line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
nav ul li:first-child a:hover, nav ul li:first-child a:visited:hover {
  background: #262626;
}
// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 34px;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 ;
    padding-bottom: 0;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: flex;
    align-items: center;
    margin-top: 10px ;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}