.breadcrumbs_area{
    background: url(../images/banner18.jpg) no-repeat 0 0;
    background-size: cover;
   height: 200px;
    display: flex;
    align-items: center;
    @media #{$large-mobile}{
        background-position: 16%;
        height: 105px;
    }
}

.breadcrumb_content{
    text-align: center;
    & h3{
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 9px;
        @media #{$large-mobile}{
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 7px;
        }
    }
    & ul{
        & li{
            display: inline-block;
            text-transform: capitalize;
            font-size: 14px;
            margin-right: 3px;
            padding-right: 13px;
            position: relative;
            &::before{
                position: absolute;
                content: "/";
                right: 0;
                top: 50%;
                transform: translatey(-50%);
            }
            &:last-child{
                margin-right: 0;
                &::before{
                    display: none;
                }
            }
            & a{
                &:hover{
                    color:  $secondary_color;
                }
            }
        }
    }
}
