.about-info-list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.about-info-content{
    h6 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
        line-height: 24px;
    }
}
.work-box{
    img {
        display: block;
        margin: auto;
        height: 200px;
    }
    p.work-content {
        text-align: center;
        color: #797979;
        font-size: 16px;
        padding: 10px 0 0;
    }
} 

